<footer class="footer bg-dark py-3 position-fixed w-100" style="bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="text-muted">&copy; DonateOnNetwork <%= new Date().getFullYear() %></span>
            </div>
            <div id="TyCandFAQ" class="col-md-6 text-md-right">
                <a href="/terms-and-conditions" class="text-muted">Terms and Conditions</a> |
                <a href="/faq" class="text-muted">FAQ</a>
            </div>
        </div>
    </div>
</footer>
