#cluster-map {
    width: 100%;
    height: 500px;
}

.body {
    background-color: rgba(255, 255, 255, 0.85);
}

#map {
    width: 100%;
    height: 300px;
}

.col-md-4 img.img-fluid, .carousel-item img {
    width: 100%;
    object-fit: cover;
}

.col-md-4 img.img-fluid {
    height: 200px;
}

.carousel-item img {
    height: 400px;
}

.capitalize-text {
    text-transform: capitalize;
}

.image-container {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-message {
    background-color: #f5f8fa;
    border-radius: 15px;
    padding: 10px;
    position: relative;
}

.chat-message:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f5f8fa;
}

.chat-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
