<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Restore Password</h1>
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card shadow">
            <img src="https://res.cloudinary.com/ddsxauxqi/image/upload/v1686798068/DonateOnNetwork/undraw_Update_re_swkp_odyofa.png"
                 alt="" class="card-img-top" />
            <div class="card-body">
                <div class="card-body">
                    <h5 class="card-title">Username:</h5>
                    <p class="card-text"><%=user.username%></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Email:</h5>
                    <p class="card-text"><%=user.email%></p>
                </div>
                <form action="/restore-password/<%=user.verificationToken%>?_method=PUT" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="user[password]"
                               value="<%=user.password%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-info">Restore Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
